@function rem($value) {//使用函数变量单位
  @return $value/32 + rem;
}
@function unit($value) {//使用函数变量单位
    @return $value/32;
}
@mixin font($value){//定义字体
    font-size: ($value/32);
}
@mixin width($value){//定义宽度
    width: ($value/32);
}
@mixin height($value){//定义高度
    height: ($value/32);
}
@mixin line-height($value){//定义行高
    line-height: ($value/32);
}
@mixin padding($t:0,$r:0,$b:0,$l:0){//定义padding
    padding: ($t/32) ($r/32) ($b/32) ($l/32);
}
@mixin margin($t:0,$r:0,$b:0,$l:0){//定义margin
    margin: ($t/32) ($r/32) ($b/32) ($l/32);
}



$color333: #333;
$color666: #666;
$color999: #999;
$coloraaa: #aaa;
$colorbbb: #bbb;
$colorccc: #ccc;
$def_fc_color: #666;
$def_current_color: #26a2ff;
$def_bg_color: #f8f8f8;



@mixin bg-image($url){//设置图标
    background-image: url($url + "@2x.png");
    @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
        background-image: url($url + "@3x.png");
    }
}

@mixin border-1px-b($color,$width:100%,$left:0,$bottom:0){//设置下边框 (颜色,[宽度,左边距,下边框(100%上边框)])
  position: relative;
  &:after{
    content: '';
    display: block;
    position: absolute;
    left: $left;
    bottom: $bottom;
    width: $width;
    height: 1px;
    background-color: $color;
  }
}

@mixin border-1px-l($color,$height:100%,$top:0,$left:0){//设置左边框 (颜色,[宽度,上边距,左边框(100%右边框)])
  position: relative;
  &:after{
    content: '';
    display: block;
    position: absolute;
    left: $left;
    top: $top;
    width: 1px;
    height: $height;
    background-color: $color;
  }
}

@mixin text-overflow($line){//多行缩略文本
  overflow:hidden;
  display:-webkit-box;
  -webkit-box-orient: vertical;
  text-overflow:ellipsis;
  -webkit-line-clamp: $line;
}


%clearfix {//清除浮动
    &:after{
        display: block;
        content: "";
        height: 0;
        clear: both;
        overflow: hidden;
        visibility: hidden;
    }
}

%wordbreak {//文本自动换行
    word-wrap: break-word;
    word-break:break-all;
}

@mixin defaultlabel() {//设置如表单元素可编辑样式
    appearance: normal;
}

%textoverflow {//单行文本缩略
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}

%textspace{//文本两端对齐
  word-spacing:-1em;
  text-align:justify;
  text-justify:distribute-all-lines;
  text-align-last:justify;
  -moz-text-align-last:justify;
  -webkit-text-align-last:justify;
  &::after{
    content:"";
    display: inline-block;
    width:100%;
    overflow:hidden;
    height:0;
  }
}

%centerblock{//设置垂直居中
    display: block;
    margin-left: auto;
    margin-right: auto;
}

%centercontent{//设置内容居中
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
.tool-mgt-40{
  margin-top: rem(40);
}


@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5){
  .border-1px-l{
    &::after{
      -webkit-transform: scaleX(0.7);
      transform: scaleX(0.7);
    }
  }
  .border-1px-b{
    &::after{
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
  .border-1px-l{
    &::after{
      -webkit-transform: scaleX(0.5);
      transform: scaleX(0.5);
    }
  }
  .border-1px-b{
    &::after{
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}
